.box-event-directive{
    .item-headerCustom {
        padding: 3px 15px;
        .box-data{
            text-align: right;
            font-weight: bold;
        }
    }
    .box-event-nome{
        margin-top:0px;
    }
}